<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.phone" android:versionCode="15" android:versionName="4.0.3-eng.root.20130723.101329" package="com.android.stk"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <original-package android:name="com.android.stk" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application android:theme="@*android:style/Theme.DeviceDefault.Light.NoActionBar" android:label="@string/app_name" android:icon="@drawable/ic_launcher_sim_toolkit" android:process="com.android.phone" android:clearTaskOnLaunch="true">
        <activity android:label="@string/app_name" android:name="StkLauncherActivity" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="StkMenuActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="StkInputActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Dialog" android:name="StkDialogActivity" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="ToneDialog" />
        <activity android:label="@string/app_name" android:name="StkSettings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>
        <receiver android:name="com.android.stk.StkCmdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.stk.command" />
                <action android:name="android.intent.action.stk.session_end" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.stk.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="StkAppService" />
    </application>
</manifest>
